<div class="menu-categories">
    <span>Catégories</span>
    <ul>
        {% for category in listCategories %}
            <li><a href="{{ path('view_category', {'id': category.id}) }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</div>
